<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <div class="container mt-4">

      <form th:action="@{/auth/login}" method="post">
        <img class="mb-3" width="70" height="70"
          src="https://img.icons8.com/clouds/100/000000/typewriter-with-paper.png" />
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input type="text" class="form-control" id="username" placeholder="Username">
          <label for="username">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember">
            Remember me
          </label>
        </div>
        <button class="w-25 mb-4 btn btn-lg btn-primary" type="submit">Login</button>
        <a class="w-25 mb-4 btn btn-lg btn-primary" type="submit" th:href="@{/auth/join}">Click to
          join</a>
        <a class="w-25 mb-4 btn btn-lg btn-primary" type="submit" th:href="@{/}">Home</a>

        <p class="mt-5 text-muted">&copy; 2021</p>
      </form>
    </div>
  </th:block>
</th:block>