<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <div class="container mt-4 mb-6 ">

      <form th:action="@{/auth/join}" method="post">
        <img class="mb-3" width="70" height="70"
          src="https://img.icons8.com/clouds/100/000000/typewriter-with-paper.png" />
        <h1 class="h3 mb-3 fw-normal">Join</h1>
        <input type="hidden" th:field="*{id}" />
        
        <div class="form-floating">
          <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}">
          <label for="text">Username</label>
        </div>

        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="name@example.com" th:field="*{email}">
          <label for="email">Email address</label>
        </div>
        
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
          <label for="password">Password</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="confirmpassword"
            placeholder="Confirm Password" >
          <label for="password">Confirm Password</label>
        </div>

        <button class="w-25 mb-4 btn btn-lg btn-primary" type="submit" th:href="@{/auth/join}">Login</button>
        <a class="w-25 mb-4 btn btn-lg btn-primary" type="submit" th:href="@{/}">Home</a>

        <p class="mt-5 text-muted">&copy; 2021</p>
      </form>
    </div>
  </th:block>
</th:block>