<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <div class="container my-4">

      <h1 class="text-center">List</h1>
      <div>
        <p>
          Total Articles:
          <span th:text="${boards.totalElements}"></span>
        </p>
      </div>
      <div>
        <p>
          Total Pages:
          <span th:text="${boards.totalPages}"></span>
        </p>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Username</th>
            <th scope="col">Written on</th>
            <th scope="col">Edited on</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="board : ${boards}">
            <td th:text="${board.id}"></td>
            <td><a class="text-decoration-none" th:text="${board.title}"
                th:href="@{/board/read(id=${board.id})}"></a></td>
            <td>Username</td>
            <td th:text="${#temporals.format(board.regDate, 'yyyy/MM/dd')}"></td>
            <td th:text="${#temporals.format(board.modDate, 'yyyy/MM/dd')}"></td>
          </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">
            <a class="page-link" tabindex="-1" aria-disabled="true"
              th:href="@{/board/list(page=${boards.pageable.pageNumber - 1})}">Previous</a>
          </li>

          <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'"
            th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link" th:href="@{/board/list(page=${i - 1})}" th:text="${i}">1</a>
          </li> 

          <li class="page-item"
            th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
            <a class="page-link" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1})}">Next</a>
          </li>
        </ul>
      </nav>

    </div>
  </th:block>
</th:block>