<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">

    <div class="container mt-4 mb-6">
      <h1 class="text-center">Edit</h1>

      <form th:action="@{/board/update}" th:object="${board}" th:method="post">

        <input type="hidden" th:field="*{id}" />

        <div class="form-group mt-2">
          <label>
            Writer:
            <!-- <span th:text="${board.username}"></span> -->
          </label>
        </div>

        <div class="form-group mt-2">
          <label for="title"> Title: </label>
          <input type="text" class="form-control" id="title" th:field="*{title}" />
          Title
        </div>

        <div class="form-group mt-2">
          <label for="content"> Content: </label>
          <textarea class="form-control" id="content" rows="10" th:field="*{content}"> Content </textarea>
        </div>

        <input type="hidden" th:field="*{regDate}" />


        <button type="submit" class="btn btn-danger mt-4 me-2"
          th:href="@{/board/read(id=${board.id})}">Save</button>
        <a type="submit" class="btn btn-success mt-4 me-2" th:href="@{/board/read(id=${board.id})}">Back
          to read </a>

      </form>
    </div>

  </th:block>
</th:block>