<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">

    <div class="container mt-4">
      <h1 class="text-center">Edit</h1>

      <form th:action="@{/board/update}" th:object="${board}" th:method="post">
      
        <!-- <input type="hidden" name="page" th:value="${requestDTO.page}" />
        <input type="hidden" name="type" th:value="${requestDTO.type}" />
        <input type="hidden" name="keyword" th:value="${requestDTO.keyword}" /> -->
        
        <div class="form-group">
          <label> Board#: <span th:text="${board.id}"></span></label>
        </div>
        
        <div class="form-group mt-2">
          <label> Writer: <span th:text="${board.username}"></span></label>
        </div>
        
        <div class="form-group mt-2">
          <label> Title: </label>
          <input type="text" class="form-control" id="title" th:value="${board.title}" />
        </div>
        
        <div class="form-group mt-2">
          <label> Content: </label>
          <textarea class="form-control" id="content" rows="10"> [[${board.content}]] </textarea>
        </div>        
      </form>
      
      <a
        th:href="@{/board/update(id=${board.id})}">
        <button type="button" class="btn btn-danger mt-4 me-2">Save</button>
      </a>
      <a
        th:href="@{/board/read(id=${board.id})}">
        <button type="button" class="btn btn-success mt-4 me-2">Back</button>
      </a> 
           
      <!-- <button type="button" class="btn btn-primary mt-4 me-2"> Save </button>
      <button type="button" class="btn btn-success mt-4 me-2"> List </button>
      <button type="button" class="btn btn-danger mt-4"> Delete </button> -->
      
    </div>
    
      <!-- <script th:inline="javascript">

            let actionForm = $("form");

            $(".removeBtn").click(()=>{

                actionForm
                .attr("action", "/board/remove")
                .attr("method", "post")

                actionForm.submit();

            });

            $(".modifyBtn").click(()=>{

                if(!confirm("수정하시겠습니까?")){
                    return ;
                }

                actionForm
                .attr("action", "/board/modify")
                .attr("method", "post")
                .submit();

            });

            $(".listBtn").click(()=>{

                let page = $("input[name='page']");
                let type = $("input[name='type']");
                let keyword = $("input[name='keyword']");

                actionForm.empty();

                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);

                actionForm
                .attr("action", "/board/list")
                .attr("method", "get");

                actionForm.submit();
            });
            
        </script>   -->

  </th:block>
</th:block>